adf-projA-dev-centralin/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-projA-dev-centralin"
		},
		"DS_DataLake_Source_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'DS_DataLake_Source'"
		},
		"LS_ADLS_DEV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_DEV'"
		},
		"LS_AzureSQL_Dev_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_AzureSQL_Dev'"
		},
		"LS_MsSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_MsSQL'"
		},
		"Oracle1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Oracle1'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://projA-dev-kv.vault.azure.net/"
		},
		"DS_DataLake_Source_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://projaddevst.dfs.core.windows.net/"
		},
		"LS_ADLS_DEV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://projaddevst.dfs.core.windows.net/"
		},
		"LS_AzureSQL_Dev_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "proja-dev-sds.database.windows.net"
		},
		"LS_AzureSQL_Dev_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "proja-dev-sdb"
		},
		"LS_AzureSQL_Dev_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqluser"
		},
		"LS_MsSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "DESKTOP-8IEDT0T\\SQLEXPRESS"
		},
		"LS_MsSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "BikeStores"
		},
		"LS_MsSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_MySQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"LS_MySQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "classicmodels"
		},
		"LS_MySQL_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "@{linkedService().p_username}"
		},
		"LS_MySql1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"LS_MySql1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "classicmodels"
		},
		"LS_MySql1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "@{linkedService().username}"
		},
		"Oracle1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost"
		},
		"Oracle1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "OT_SRC_DEV"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/d07eb817-3d6c-4eee-af1c-af4607acabd9/resourceGroups/projA-dev-rg/providers/Microsoft.Storage/storageAccounts/projaddevst"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Mqsql_to_DataLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetUsername",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "MySqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"Table": "customers",
									"p_username": {
										"value": "@activity('GetUsername').output.value",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference",
								"parameters": {
									"Containername": "landing",
									"Directoryname": "DataFactory/Output/MySQL",
									"Filename": "customer.csv"
								}
							}
						]
					},
					{
						"name": "GetUsername",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://projA-dev-kv.vault.azure.net/secrets/MysqlUser?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "PL_MsSQL_ADLS_parameterization",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_ADLS_AzureSQL_Copy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-14T03:45:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MySqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]",
				"[concat(variables('factoryId'), '/pipelines/PL_ADLS_AzureSQL_Copy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADLS_ADLS_Transform_ColumnMapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Using mapping option in activity",
				"activities": [
					{
						"name": "Tranform Schema",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "Timestamp",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Employee_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Employee_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "First_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "First_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Last_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Last_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Gender",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Salary",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Salary",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Date_of_Birth",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date_of_Birth",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Age",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Department_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Department_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Manager_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Manager_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Date_of_Joining",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Date_of_Joining",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "End_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "End_Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Timestamp",
											"type": "String"
										},
										"sink": {
											"name": "Timestamp",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_SRC_InputFile",
								"type": "DatasetReference",
								"parameters": {
									"Container": "landing",
									"Directory": "/DataFactory/Input/",
									"Filename": "SourceA_01012021.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference",
								"parameters": {
									"Containername": "landing/",
									"Directoryname": "DataFactory/Output/",
									"Filename": "SourceA_01012021.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-15T02:39:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADLS_AzureSQL_Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy file/table from ADLS to Azure SQL",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_SRC_InputFile",
								"type": "DatasetReference",
								"parameters": {
									"Container": "landing",
									"Directory": "DataFactory/Input/MsSQL/AdventureworksOLTP",
									"Filename": "oltp.Sales_Customer.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_AzureSQL_Custome_Dev",
								"type": "DatasetReference",
								"parameters": {
									"sqlschema": "oltp",
									"sqltable": "Sales_Customer"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-13T09:59:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Custome_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Copy_Blob_DataLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "name",
								"value": "this is test"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_SRC_InputFile",
								"type": "DatasetReference",
								"parameters": {
									"Container": "landing",
									"Directory": "DataFactory/Inputt",
									"Filename": "SourceA_01012021.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference",
								"parameters": {
									"Containername": "landing",
									"Directoryname": "DataFactory/Output",
									"Filename": "SourceA"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"errorMessage": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-01T07:38:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DataFlow_Join')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Join_Dept_Employee",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Join_Dept_Employee",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceDepartment": {
										"Container": "landing",
										"Directory": "DataFactory/Input/DataFlow",
										"Filename": "Department.csv"
									},
									"SourceEmployee": {
										"Container": "landing",
										"Directory": "DataFactory/Input/DataFlow",
										"Filename": "Employee.csv"
									},
									"SinkJoinedOutput": {
										"Containername": "landing",
										"Directoryname": "DataFactory/Input/DataFlow",
										"Filename": "Dept_Employee_Joined.csv"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-28T18:04:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Join_Dept_Employee')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DeltaLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log_Pipeline_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.sp_log_pipeline_start",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"trigger_name": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"trigger_type": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup_Config",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Log_Pipeline_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT * FROM dbo.ADF_Config_Table WHERE load_type = 'Delta' AND is_active = 1",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"sqlschema": "dbo",
									"sqltable": "ADF_Config_Table"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Delta",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Config').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Log_Activity_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_activity_start",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_activity_start",
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_table": {
												"value": {
													"value": "@item().sink_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"stg_table": {
												"value": {
													"value": "@item().stg_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"load_type": {
												"value": {
													"value": "@item().load_type",
													"type": "Expression"
												},
												"type": "String"
											},
											"adls_path": {
												"value": {
													"value": "@concat(item().sink_container,'/',item().sink_directory,'/',item().sink_file)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Lookup_NewWatermark",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Log_Activity_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX(', item().watermark_column, ') AS new_watermark FROM ', item().source_schema, '.', item().source_table)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": "@item().source_schema",
												"sqltable": "@item().source_table"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Lookup_OldWatermark",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Log_Activity_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT last_watermark FROM dbo.watermark_table WHERE table_name = ''', item().source_table, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": "dbo",
												"sqltable": "watermark_table"
											}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Copy_Delta_to_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Lookup_NewWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Lookup_OldWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT * FROM ', item().source_schema, '.', item().source_table, ' WHERE ', item().watermark_column, ' > ''', activity('Lookup_OldWatermark').output.firstRow.last_watermark, ''' AND ', item().watermark_column, ' <= ''', activity('Lookup_NewWatermark').output.firstRow.new_watermark, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": "@item().source_schema",
												"sqltable": "@item().source_table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": "@item().sink_container",
												"Directoryname": "@item().sink_directory",
												"Filename": "@item().sink_file"
											}
										}
									]
								},
								{
									"name": "Log_Copy1_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_Delta_to_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_copy_activity",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": "Copy_Delta_to_ADLS",
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_copy_activity",
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_Delta_to_ADLS').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": null,
												"type": "String"
											},
											"sink_table": {
												"value": null,
												"type": "String"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"rows_read": {
												"value": {
													"value": "@string(activity('Copy_Delta_to_ADLS').output.rowsRead)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "@string(activity('Copy_Delta_to_ADLS').output.rowsCopied)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_skipped": {
												"value": {
													"value": "@string(sub(activity('Copy_Delta_to_ADLS').output.rowsRead, activity('Copy_Delta_to_ADLS').output.rowsCopied))",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Copy1_Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_Delta_to_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_copy_activity",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": "Copy_Delta_to_ADLS",
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_copy_activity",
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_Delta_to_ADLS').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": null,
												"type": "String"
											},
											"sink_table": {
												"value": null,
												"type": "String"
											},
											"status": {
												"value": "Failed",
												"type": "String"
											},
											"rows_read": {
												"value": "0",
												"type": "String"
											},
											"rows_copied": {
												"value": "0",
												"type": "String"
											},
											"rows_skipped": {
												"value": "0",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "Copy_Delta_to_ADLS failed. Check ADF Monitor for run_id @{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy_ADLS_to_AzureSQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Log_Copy1_Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "@{concat('TRUNCATE TABLE ', item().sink_schema, '.', item().stg_table)}",
												"type": "Expression"
											},
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": "@item().sink_container",
												"Directory": "@item().sink_directory",
												"Filename": "@item().sink_file"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_Custome_Dev",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": "@item().sink_schema",
												"sqltable": "@item().stg_table"
											}
										}
									]
								},
								{
									"name": "Log_Copy2_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_ADLS_to_AzureSQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_copy_activity",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": "Copy_ADLS_to_AzureSQL",
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_copy_activity",
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_ADLS_to_AzureSQL').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": null,
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_table": {
												"value": {
													"value": "@item().sink_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"rows_read": {
												"value": {
													"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsRead)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsCopied)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_skipped": {
												"value": {
													"value": "@string(sub(activity('Copy_ADLS_to_AzureSQL').output.rowsRead, activity('Copy_ADLS_to_AzureSQL').output.rowsCopied))",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Copy2_Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_ADLS_to_AzureSQL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_copy_activity",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": "Copy_ADLS_to_AzureSQL",
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_copy_activity",
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_ADLS_to_AzureSQL').ActivityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": null,
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_table": {
												"value": {
													"value": "@item().sink_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Failed",
												"type": "String"
											},
											"rows_read": {
												"value": "0",
												"type": "String"
											},
											"rows_copied": {
												"value": "0",
												"type": "String"
											},
											"rows_skipped": {
												"value": "0",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "Copy_ADLS_to_AzureSQL failed. Check ADF Monitor for run_id @{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute_Merge_SP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log_Copy2_Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_merge_dynamic",
										"storedProcedureParameters": {
											"target_table": {
												"value": {
													"value": "@concat(item().sink_schema, '.', item().sink_table)",
													"type": "Expression"
												},
												"type": "String"
											},
											"staging_table": {
												"value": {
													"value": "@concat(item().sink_schema, '.', item().stg_table)",
													"type": "Expression"
												},
												"type": "String"
											},
											"key_column": {
												"value": {
													"value": "@item().key_column",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_AzureSQL_Dev",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update_Watermark",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Execute_Merge_SP",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_update_watermark",
										"storedProcedureParameters": {
											"table_name": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"new_watermark": {
												"value": {
													"value": "@activity('Lookup_NewWatermark').output.firstRow.new_watermark",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Activity_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Update_Watermark",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Log_Copy1_Failed",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Log_Copy2_Failed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "dbo.sp_log_activity_end",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sp_name": {
												"value": "sp_log_activity_end",
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@if(equals(activity('Copy_ADLS_to_AzureSQL').status, 'Succeeded'), 'Success', 'Failed')",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Log_Pipeline_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach_Delta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.sp_log_pipeline_end",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "Success",
									"type": "String"
								},
								"error_message": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log_Pipeline_Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach_Delta",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.sp_log_pipeline_end",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "Failed",
									"type": "String"
								},
								"error_message": {
									"value": {
										"value": "Pipeline failed. Check activity_run_log for run_id @{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-24T12:14:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MsSQL')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Custome_Dev')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Foreach')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('metadata')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().source_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().source_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().source_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"metadata": {
						"type": "Array",
						"defaultValue": [
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "department.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "department.csv"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "Employee.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "Employee.csv"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "sampledata.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "sampledata.csv"
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-16T07:01:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Foreach_ADLS_MsSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('metadata')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().source_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().source_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().source_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_Custome_Dev",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": {
													"value": "@item().sql_schema",
													"type": "Expression"
												},
												"sqltable": {
													"value": "@item().sql_table",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"metadata": {
						"type": "Array",
						"defaultValue": [
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "department.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Input/Foreach",
								"sink_file": "department.csv",
								"sql_schema": "esh",
								"sql_table": "department"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "Employee.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Input/Foreach",
								"sink_file": "Employee.csv",
								"sql_schema": "esh",
								"sql_table": "Employee"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "sampledata.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Input/Foreach",
								"sink_file": "sampledata.csv",
								"sql_schema": "esh",
								"sql_table": "sampledata"
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-15T11:25:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Custome_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Foreach_Parameter')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.metadata",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().source_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().source_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().source_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"metadata": {
						"type": "array",
						"defaultValue": [
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "department.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "department.csv"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "Employee.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "Employee.csv"
							},
							{
								"source_container": "landing",
								"source_directory": "DataFactory/Input/Foreach",
								"source_file": "sampledata.csv",
								"sink_container": "landing",
								"sink_directory": "DataFactory/Output/Foreach",
								"sink_file": "sampledata.csv"
							}
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-16T07:01:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Lookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().source_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().source_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().source_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-15T11:25:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Metadata')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Lookup_FullLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "FullLoad_Metadata",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"sqltable": {
													"value": "@item().source_table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_Custome_Dev",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": {
													"value": "@item().sql_schema",
													"type": "Expression"
												},
												"sqltable": {
													"value": "@item().sql_table",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-18T05:38:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FullLoad_Metadata')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Custome_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Lookup_FullLoad_sqlconfig')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log_Pipeline_Start",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_pipeline_start]",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_name": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"trigger_name": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"trigger_type": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Log_Pipeline_Start",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"sqlschema": "dbo",
									"sqltable": "ADF_Config_Table"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "Log_Activity_Start",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_activity_start]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_schema": {
												"value": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_schema": {
												"value": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"type": "String"
											},
											"sink_table": {
												"value": {
													"value": "@item().sink_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"stg_table": {
												"value": {
													"value": "@item().stg_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"load_type": {
												"value": {
													"value": "@item().load_type",
													"type": "Expression"
												},
												"type": "String"
											},
											"adls_path": {
												"value": {
													"value": "@concat(item().sink_container,'/',item().sink_directory,'/',item().sink_file)",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy_MSSQL_to_ADLS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Log_Activity_Start",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "SqlServerTable1",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": {
													"value": "@item().source_schema",
													"type": "Expression"
												},
												"sqltable": {
													"value": "@item().source_table",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_ADLS_TGT_TransformedData",
											"type": "DatasetReference",
											"parameters": {
												"Containername": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directoryname": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Log_Copy1_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_MSSQL_to_ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_copy_activity]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": {
													"value": "Copy_MSSQL_to_ADLS",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_MSSQL_to_ADLS').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"rows_read": {
												"value": {
													"value": "@string(activity('Copy_MSSQL_to_ADLS').output.rowsRead)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "@string(activity('Copy_MSSQL_to_ADLS').output.rowsCopied)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_skipped": {
												"value": {
													"value": "@string(sub(activity('Copy_MSSQL_to_ADLS').output.rowsRead, activity('Copy_MSSQL_to_ADLS').output.rowsCopied))",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Copy1_Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_MSSQL_to_ADLS",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_copy_activity]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": {
													"value": "Copy_MSSQL_to_ADLS",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_MSSQL_to_ADLS').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Failed",
												"type": "String"
											},
											"rows_read": {
												"value": "0",
												"type": "String"
											},
											"rows_copied": {
												"value": "0",
												"type": "String"
											},
											"rows_skipped": {
												"value": "0",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "Copy_MSSQL_to_ADLS failed. Check ADF Monitor for run_id @{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy_ADLS_to_AzureSQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Log_Copy1_Success",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_ADLS_SRC_InputFile",
											"type": "DatasetReference",
											"parameters": {
												"Container": {
													"value": "@item().sink_container",
													"type": "Expression"
												},
												"Directory": {
													"value": "@item().sink_directory",
													"type": "Expression"
												},
												"Filename": {
													"value": "@item().sink_file",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_AzureSQL_Custome_Dev",
											"type": "DatasetReference",
											"parameters": {
												"sqlschema": {
													"value": "@item().sink_schema",
													"type": "Expression"
												},
												"sqltable": {
													"value": "@item().sink_table",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Log_Copy2_Success",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_ADLS_to_AzureSQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_copy_activity]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": {
													"value": "Copy_ADLS_to_AzureSQL",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_ADLS_to_AzureSQL').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Success",
												"type": "String"
											},
											"rows_read": {
												"value": {
													"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsRead)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_copied": {
												"value": {
													"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsCopied)",
													"type": "Expression"
												},
												"type": "String"
											},
											"rows_skipped": {
												"value": {
													"value": "@string(sub(activity('Copy_ADLS_to_AzureSQL').output.rowsRead, activity('Copy_ADLS_to_AzureSQL').output.rowsCopied))",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Copy2_Failed",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy_ADLS_to_AzureSQL",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_copy_activity]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_name": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_name": {
												"value": {
													"value": "Copy_ADLS_to_AzureSQL",
													"type": "Expression"
												},
												"type": "String"
											},
											"activity_id": {
												"value": {
													"value": "@activity('Copy_ADLS_to_AzureSQL').activityRunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "Failed",
												"type": "String"
											},
											"rows_read": {
												"value": "0",
												"type": "String"
											},
											"rows_copied": {
												"value": "0",
												"type": "String"
											},
											"rows_skipped": {
												"value": "0",
												"type": "String"
											},
											"error_message": {
												"value": {
													"value": "Copy_ADLS_to_AzureSQL failed. Check ADF Monitor for run_id @{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log_Activity_End",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log_Copy2_Success",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Log_Copy2_Failed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[sp_log_activity_end]",
										"storedProcedureParameters": {
											"run_id": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"source_table": {
												"value": {
													"value": "@item().source_table",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@if(equals(activity('Copy_ADLS_to_AzureSQL').status, 'Succeeded'), 'Success', 'Failed')",
													"type": "Expression"
												},
												"type": "String"
											},
											"error_message": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_MsSQL",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Log_Pipeline_Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_pipeline_end]",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "Success",
									"type": "String"
								},
								"error_message": {
									"value": null,
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log_Pipeline_Failed",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_log_pipeline_end]",
							"storedProcedureParameters": {
								"run_id": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"status": {
									"value": "Failed",
									"type": "String"
								},
								"error_message": {
									"value": {
										"value": "Pipeline failed. Check activity_run_log for run_id @{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_MsSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-21T05:06:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MsSQL')]",
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_AzureSQL_Custome_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MasterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Copy_Blob_DataLake",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Capture_Error",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "childErrorMessage",
							"value": {
								"value": "@activity('Execute Pipeline1').error.message",
								"type": "Expression"
							}
						}
					},
					{
						"name": "EmailAlert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Capture_Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "aaa",
								"value": "@activity('Execute Pipeline1').error.message"
							}
						],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"url": "https://prod-11.centralindia.logic.azure.com:443/workflows/801b4aefd4684d56b122cfbb010ec35a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2fhnc31unSv3uuWM2Fv0xUKVHCa7MUXOopIWQ2KHpD0",
							"body": {
								"value": "{\n  \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"PipelineName\": \"@{activity('Execute Pipeline1').typeProperties.pipeline.referenceName}\",\n  \"Subject\": \"ADF FAILURE - @{pipeline().Pipeline} - @{pipeline().DataFactory}\",\n  \"Message\": \"@{activity('Execute Pipeline1').error.message}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "xyz"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "abc"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "123"
					},
					"Message": {
						"type": "string",
						"defaultValue": "error"
					}
				},
				"variables": {
					"childErrorMessage": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-01T07:38:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Copy_Blob_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MsSQL_ADLS_parameterization')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"description": "Copy order_items",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"sqlschema": "Bikestores",
									"sqltable": "sales"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference",
								"parameters": {
									"Containername": "landing",
									"Directoryname": "DataFactory/Output?MsSQL",
									"Filename": "OrderItems"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-18T05:38:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Oracle_ADLS_Copy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"numberPrecision": 38,
								"numberScale": 18,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Oracle_ADLS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference",
								"parameters": {
									"Containername": "landing",
									"Directoryname": "/DataFactory/Output/Oracle",
									"Filename": "Employees.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-14T14:03:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Oracle_ADLS')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SCD2_adf')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD2 adf",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SCD2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-28T18:04:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SCD2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_SRC_InputFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_DataLake_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Container": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					},
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_DataLake_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_TGT_TransformedData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DS_DataLake_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Containername": {
						"type": "string"
					},
					"Directoryname": {
						"type": "string"
					},
					"Filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().Filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directoryname",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().Containername",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_DataLake_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_AzureSQL_Custome_Dev')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Dev",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sqlschema": {
						"type": "string"
					},
					"sqltable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sqlschema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sqltable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Dev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Oracle_ADLS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EMPLOYEES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FullLoad_Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "adf_lookup_config.csv",
						"folderPath": "DataFactory/Input/Foreach",
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metadata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "adf_foreach_config.csv",
						"folderPath": "DataFactory/Input/Foreach",
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "source_container",
						"type": "String"
					},
					{
						"name": "source_directory",
						"type": "String"
					},
					{
						"name": "source_file",
						"type": "String"
					},
					{
						"name": "sink_container",
						"type": "String"
					},
					{
						"name": "sink_directory",
						"type": "String"
					},
					{
						"name": "sink_file",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MySQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_username": {
							"value": "@dataset().p_username",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"Table": {
						"type": "string"
					},
					"p_username": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().Table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MySQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MsSQL",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sqlschema": {
						"type": "string"
					},
					"sqltable": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "xserver_name",
						"type": "varchar"
					},
					{
						"name": "xdttm_ins",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "xdttm_last_ins_upd",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "xfallback_dbid",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "name",
						"type": "varchar"
					},
					{
						"name": "dbid",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "status",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "version",
						"type": "smallint",
						"precision": 5
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().sqlschema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().sqltable",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MsSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DataLake_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DS_DataLake_Source_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('DS_DataLake_Source_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_DEV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_DEV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_Dev_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_Dev_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_Dev_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_AzureSQL_Dev_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MsSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_MsSQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_MsSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_MsSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_MsSQL_password')]"
					}
				},
				"connectVia": {
					"referenceName": "sh-integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sh-integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MySQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"p_username": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('LS_MySQL_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('LS_MySQL_properties_typeProperties_database')]",
					"username": "[parameters('LS_MySQL_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "MysqlPassword"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "sh-integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sh-integrationRuntime1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MySql1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"username": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"server": "[parameters('LS_MySql1_properties_typeProperties_server')]",
					"port": 3306,
					"database": "[parameters('LS_MySql1_properties_typeProperties_database')]",
					"username": "[parameters('LS_MySql1_properties_typeProperties_username')]",
					"sslMode": 1,
					"useSystemTrustStore": 0,
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "MysqlPassword",
						"secretVersion": "e089f8ce2af04e49a7049acd73e991bb"
					},
					"driverVersion": "v2"
				},
				"connectVia": {
					"referenceName": "sh-integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sh-integrationRuntime1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"version": "2.0",
				"typeProperties": {
					"server": "[parameters('Oracle1_properties_typeProperties_server')]",
					"authenticationType": "Basic",
					"username": "[parameters('Oracle1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Oracle1_password')]"
					},
					"encryptionClient": "accepted",
					"encryptionTypesClient": "(AES128, AES192, AES256, 3DES112, 3DES168)",
					"cryptoChecksumClient": "accepted",
					"cryptoChecksumTypesClient": "(SHA1, SHA256, SHA384, SHA512)"
				},
				"connectVia": {
					"referenceName": "sh-integrationRuntime2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/sh-integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_SCH_LOADMYSQL_1hr')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger to load data form Mysql to DataLake",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Mqsql_to_DataLake",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2026-04-13T23:53:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Mqsql_to_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Foreach",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/DataFactory/Input/Foreach",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated",
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Foreach')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sh-integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sh-integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "this linked service is to connect with Sandeep's laptop for oracle db.",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Join_Dept_Employee')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_SRC_InputFile",
								"type": "DatasetReference"
							},
							"name": "SourceDepartment",
							"description": "Read Department.csv from ADLS"
						},
						{
							"dataset": {
								"referenceName": "DS_ADLS_SRC_InputFile",
								"type": "DatasetReference"
							},
							"name": "SourceEmployee",
							"description": "Read Employee.csv from ADLS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_ADLS_TGT_TransformedData",
								"type": "DatasetReference"
							},
							"name": "SinkJoinedOutput",
							"description": "Write joined output to ADLS"
						}
					],
					"transformations": [
						{
							"name": "JoinDeptEmployee",
							"description": "Inner join Department and Employee on Department_id"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Department_id as string,",
						"          Department_name as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceDepartment",
						"source(output(",
						"          Employee_id as string,",
						"          Employee_name as string,",
						"          Department_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> SourceEmployee",
						"SourceDepartment, SourceEmployee join(SourceDepartment@Department_id == SourceEmployee@Department_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinDeptEmployee",
						"JoinDeptEmployee sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['Dept_Employee_Joined.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> SinkJoinedOutput"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_SRC_InputFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_TGT_TransformedData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SCD2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "DS_DataLake_Source",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						},
						{
							"linkedService": {
								"referenceName": "DS_DataLake_Source",
								"type": "LinkedServiceReference"
							},
							"name": "source2"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "DS_DataLake_Source",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "exists1"
						},
						{
							"name": "isactivew"
						},
						{
							"name": "select1"
						},
						{
							"name": "exists2"
						},
						{
							"name": "exists3"
						},
						{
							"name": "derivedColumn3"
						},
						{
							"name": "alterRow1"
						},
						{
							"name": "union1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          customer_id as string,",
						"          created_date as date,",
						"          modified_date as date,",
						"          sales_id as short",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'landing',",
						"     folderPath: 'DataFactory/Input/DataFlow',",
						"     fileName: 'sales_stage_dataflow.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true,",
						"     partitionBy('hash', 1)) ~> source1",
						"source(output(",
						"          customer_id as string,",
						"          created_date as date,",
						"          modified_date as date,",
						"          sales_id as short,",
						"          is_active as boolean",
						"     ),",
						"     useSchema: false,",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'delimited',",
						"     fileSystem: 'landing',",
						"     folderPath: 'DataFactory/Output/DataFlow',",
						"     fileName: 'sales_target_dataflow.csv',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: true) ~> source2",
						"source1 derive(hash = md5(sales_id,customer_id,created_date,modified_date),",
						"     partitionBy('hash', 1)) ~> derivedColumn1",
						"source2 derive(hash = md5(sales_id,customer_id,created_date,modified_date)) ~> derivedColumn2",
						"derivedColumn1, derivedColumn2 exists(derivedColumn1@hash == derivedColumn2@hash,",
						"     negate:true,",
						"     broadcast: 'auto')~> exists1",
						"exists1 derive(is_active = 1) ~> isactivew",
						"isactivew select(mapColumn(",
						"          customer_id,",
						"          created_date,",
						"          modified_date,",
						"          sales_id,",
						"          is_active",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"derivedColumn1, derivedColumn2 exists(source1@sales_id == source2@sales_id,",
						"     negate:false,",
						"     broadcast: 'auto')~> exists2",
						"exists2, derivedColumn2 exists(derivedColumn1@hash == derivedColumn2@hash,",
						"     negate:true,",
						"     broadcast: 'auto')~> exists3",
						"exists3 derive(is_active = 0) ~> derivedColumn3",
						"derivedColumn3 alterRow(updateIf(true())) ~> alterRow1",
						"select1, alterRow1 union(byName: true)~> union1",
						"union1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     fileSystem: 'landing',",
						"     folderPath: 'DataFactory/Output/DataFlow',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: false,",
						"     partitionFileNames:['sales_target_dataflow.csv'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DS_DataLake_Source')]"
			]
		}
	]
}