pipeline/PL_Lookup_FullLoad_sqlconfig.json
{
	"name": "PL_Lookup_FullLoad_sqlconfig",
	"properties": {
		"activities": [
			{
				"name": "Log_Pipeline_Start",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_pipeline_start]",
					"storedProcedureParameters": {
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"trigger_type": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MsSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Log_Pipeline_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference",
						"parameters": {
							"sqlschema": "dbo",
							"sqltable": "ADF_Config_Table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Log_Activity_Start",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_activity_start]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_schema": {
										"value": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"sink_schema": {
										"value": {
											"value": "@item().sink_schema",
											"type": "Expression"
										},
										"type": "String"
									},
									"sink_table": {
										"value": {
											"value": "@item().sink_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"stg_table": {
										"value": {
											"value": "@item().stg_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"load_type": {
										"value": {
											"value": "@item().load_type",
											"type": "Expression"
										},
										"type": "String"
									},
									"adls_path": {
										"value": {
											"value": "@concat(item().sink_container,'/',item().sink_directory,'/',item().sink_file)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_MSSQL_to_ADLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Log_Activity_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"sqlschema": {
											"value": "@item().source_schema",
											"type": "Expression"
										},
										"sqltable": {
											"value": "@item().source_table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_TGT_TransformedData",
									"type": "DatasetReference",
									"parameters": {
										"Containername": {
											"value": "@item().sink_container",
											"type": "Expression"
										},
										"Directoryname": {
											"value": "@item().sink_directory",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().sink_file",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Log_Copy1_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_MSSQL_to_ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_copy_activity]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_name": {
										"value": {
											"value": "Copy_MSSQL_to_ADLS",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_id": {
										"value": {
											"value": "@activity('Copy_MSSQL_to_ADLS').activityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Success",
										"type": "String"
									},
									"rows_read": {
										"value": {
											"value": "@string(activity('Copy_MSSQL_to_ADLS').output.rowsRead)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "@string(activity('Copy_MSSQL_to_ADLS').output.rowsCopied)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_skipped": {
										"value": {
											"value": "@string(sub(activity('Copy_MSSQL_to_ADLS').output.rowsRead, activity('Copy_MSSQL_to_ADLS').output.rowsCopied))",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log_Copy1_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_MSSQL_to_ADLS",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_copy_activity]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_name": {
										"value": {
											"value": "Copy_MSSQL_to_ADLS",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_id": {
										"value": {
											"value": "@activity('Copy_MSSQL_to_ADLS').activityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									},
									"rows_read": {
										"value": "0",
										"type": "String"
									},
									"rows_copied": {
										"value": "0",
										"type": "String"
									},
									"rows_skipped": {
										"value": "0",
										"type": "String"
									},
									"error_message": {
										"value": {
											"value": "Copy_MSSQL_to_ADLS failed. Check ADF Monitor for run_id @{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_ADLS_to_AzureSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Log_Copy1_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADLS_SRC_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().sink_container",
											"type": "Expression"
										},
										"Directory": {
											"value": "@item().sink_directory",
											"type": "Expression"
										},
										"Filename": {
											"value": "@item().sink_file",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSQL_Custome_Dev",
									"type": "DatasetReference",
									"parameters": {
										"sqlschema": {
											"value": "@item().sink_schema",
											"type": "Expression"
										},
										"sqltable": {
											"value": "@item().sink_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Log_Copy2_Success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_ADLS_to_AzureSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_copy_activity]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_name": {
										"value": {
											"value": "Copy_ADLS_to_AzureSQL",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_id": {
										"value": {
											"value": "@activity('Copy_ADLS_to_AzureSQL').activityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Success",
										"type": "String"
									},
									"rows_read": {
										"value": {
											"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsRead)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_copied": {
										"value": {
											"value": "@string(activity('Copy_ADLS_to_AzureSQL').output.rowsCopied)",
											"type": "Expression"
										},
										"type": "String"
									},
									"rows_skipped": {
										"value": {
											"value": "@string(sub(activity('Copy_ADLS_to_AzureSQL').output.rowsRead, activity('Copy_ADLS_to_AzureSQL').output.rowsCopied))",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log_Copy2_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_ADLS_to_AzureSQL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_copy_activity]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_name": {
										"value": {
											"value": "Copy_ADLS_to_AzureSQL",
											"type": "Expression"
										},
										"type": "String"
									},
									"activity_id": {
										"value": {
											"value": "@activity('Copy_ADLS_to_AzureSQL').activityRunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": "Failed",
										"type": "String"
									},
									"rows_read": {
										"value": "0",
										"type": "String"
									},
									"rows_copied": {
										"value": "0",
										"type": "String"
									},
									"rows_skipped": {
										"value": "0",
										"type": "String"
									},
									"error_message": {
										"value": {
											"value": "Copy_ADLS_to_AzureSQL failed. Check ADF Monitor for run_id @{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log_Activity_End",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Log_Copy2_Success",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Log_Copy2_Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_log_activity_end]",
								"storedProcedureParameters": {
									"run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"source_table": {
										"value": {
											"value": "@item().source_table",
											"type": "Expression"
										},
										"type": "String"
									},
									"status": {
										"value": {
											"value": "@if(equals(activity('Copy_ADLS_to_AzureSQL').status, 'Succeeded'), 'Success', 'Failed')",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_MsSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Log_Pipeline_Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_pipeline_end]",
					"storedProcedureParameters": {
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Success",
							"type": "String"
						},
						"error_message": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MsSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Log_Pipeline_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_log_pipeline_end]",
					"storedProcedureParameters": {
						"run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": "Failed",
							"type": "String"
						},
						"error_message": {
							"value": {
								"value": "Pipeline failed. Check activity_run_log for run_id @{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_MsSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-21T05:06:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}