pipeline/PL_MasterPipeline.json
{
	"name": "PL_MasterPipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_Copy_Blob_DataLake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Capture_Error",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "childErrorMessage",
					"value": {
						"value": "@activity('Execute Pipeline1').error.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EmailAlert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Capture_Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "aaa",
						"value": "@activity('Execute Pipeline1').error.message"
					}
				],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-11.centralindia.logic.azure.com:443/workflows/801b4aefd4684d56b122cfbb010ec35a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2fhnc31unSv3uuWM2Fv0xUKVHCa7MUXOopIWQ2KHpD0",
					"body": {
						"value": "{\n  \"DataFactoryName\": \"@{pipeline().DataFactory}\",\n  \"PipelineName\": \"@{activity('Execute Pipeline1').typeProperties.pipeline.referenceName}\",\n  \"Subject\": \"ADF FAILURE - @{pipeline().Pipeline} - @{pipeline().DataFactory}\",\n  \"Message\": \"@{activity('Execute Pipeline1').error.message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DataFactoryName": {
				"type": "string",
				"defaultValue": "xyz"
			},
			"PipelineName": {
				"type": "string",
				"defaultValue": "abc"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "123"
			},
			"Message": {
				"type": "string",
				"defaultValue": "error"
			}
		},
		"variables": {
			"childErrorMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-01T07:38:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}